body{
	font-family: sans-serif;
}

section{
	padding-left: 2cm;
	padding-right: 2cm;
	padding-top: 2cm;
	padding-bottom: 2cm;
	width: 100mm;
}

section.title{
	text-align: center;
}

div.title{
	padding-top: 5cm;
	font-size: 20mm;
	position: relative;
}

header, footer{
	padding: 4mm; 
	font-size: 5mm;
}

header{
	text-align: center;
	text-decoration: underline;
}

footer{
	text-align: right; 
	font-family: monospace;
}

mark{
	background-color: rgb(255,255,128);
}

h1,h2,h3,h4,h5,h6{
	text-align: center;
}